@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Noto+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --background: #0a1016;
  --backgroundSecondary: #051725;
  --textLight: #ffffff;
  --textSecondary: #eee;
  --textDark: #c9c9c9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--textLight);
}

button,
textarea {
  font-size: 18px;
  padding: 10px;
}

.app {
  display: flex;
}

.main {
  width: 100%;
}
a {
  /* text-decoration: none; */
  color: inherit;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #111b25;
}
